.mobile-header {
    margin-bottom: 4.4rem;
}

.nav-color {
    background-color: #131921;
}

.mobile-header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.mobile-header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
  
.mobile-header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
  
.mobile-header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.mobile-header_optionLineOne {
    font-size: 10px;
}
  
.mobile-header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
  
.mobile-header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}
  
.mobile-header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-header_nav {
    display: flex;
    justify-content: space-evenly;
}

.mobile-header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}